.dropdown-distrito {
  height: fit-content;
  box-sizing: border-box;
  position: relative;
  border-bottom: 1.5px solid white;
  /* padding: 16px 0; */
}
.input-box-distrito {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  outline: none;
  border-radius: 2mm;

  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
}
.input-box-distrito::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/svg/chevron-down_1.svg);
}
.input-box-distrito.open-distrito::before {
  content: "";

  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/svg/chevron-up_1.svg);
}
/* .input-box:empty::after {
      content: "Tipo de servicio";
      color: #96a1a6;
    } */
.list-distrito {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  /*height: fit-content;
      */ /*background: #ffffff;
      */
  background: #ffffff;
  margin-top: 10px;
  border-radius: 2mm;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-height: 0;
  transition: 0.25s ease-out;
}
.list-distrito input {
  display: none;
}
.list-distrito label {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;

  padding: 10px 15px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.list-distrito label .material-icons-outlined,
.input-box-distrito .material-icons-outlined {
  margin-right: 5px;
}
.list-distrito label:hover {
  background: #393f53;
}
/* Selecciona el item que esta en el combo */
input:checked + .distrito {
  color: white;
  background: #393f53;
}

.open-distrito {
  outline: none;
}
.title-distrito {
  margin-bottom: 10px;
}

.scroll-distrito::-webkit-scrollbar {
  width: 5px;
  background-color: #f1f1f1;
  border-radius: 1rem;
}

.scroll-distrito::-webkit-scrollbar-thumb {
  background-color: #393f53;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
