.dropdown {
  height: fit-content;
  box-sizing: border-box;
  position: relative;
  border-bottom: 1.5px solid white;
  /* padding: 16px 0; */
}
.input-box {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  outline: none;
  border-radius: 2mm;

  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
}
.input-box::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/svg/chevron-down.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* corregir este bug  */
.input-box.open::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/svg/chevron-up.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* .input-box:empty::after {
      content: "Tipo de servicio";
      color: #96a1a6;
    } */
.list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  /*height: fit-content;
      */ /*background: #ffffff;
      */
  background: #ffffff;
  margin-top: 10px;
  border-radius: 2mm;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-height: 0;
  transition: 0.25s ease-out;
}
.list input {
  display: none;
}
.list label {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;

  padding: 10px 15px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.list label .material-icons-outlined,
.input-box .material-icons-outlined {
  margin-right: 5px;
}
.list label:hover {
  background: #393f53;
}
input:checked + .ordenar {
  color: white;
  background: #393f53;
}

.open {
  outline: none;
}
.title {
  margin-bottom: 10px;
}

.scroll-departamento::-webkit-scrollbar {
  width: 5px;
  background-color: #f1f1f1;
}

.scroll-departamento::-webkit-scrollbar-thumb {
  background-color: #393f53;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
